<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>零玖玖</title>
  <meta name="keywords" content="零玖玖" />
  <meta name="description" content="零玖玖" />
  <link rel="stylesheet" href="/assets/css/pc/style.css" />
  <style>
  body{min-width: 0;}
  </style>
</head>

<body>
  
   <center class="a">
      <b>
        欢迎观临零玖玖教育后台管理系统，请<a href="{{ path('fos_user_security_login') }}">登录</a>！
      </b>
   </center>

</body>

</html>