{% extends 'AcmeWebUIBundle::layouts/adminskin.html.twig' %}

{% block content %}

      <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"> Auth </strong> </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
      
	          <table class="am-table am-table-striped am-table-hover table-main">
		        
		            <tr>
		              <td> </td>
		              <td class="am-hide-sm-only">ID</td>
		              <td class="am-hide-sm-only">UserName</td>
		              <td class="am-hide-sm-only">Role</td>
		              <td>操作</td>
		            </tr>

                    {% for user in users %}
	                    <tr>
	                      <td><input type="checkbox" /></td>
			              <td class="am-hide-sm-only">{{ user.id }}</td>
			              <td class="am-hide-sm-only">{{ user.username }}</td>
			              <td class="td">{{ user.roles[0] }}</td>
			              <td>
			                <div class="am-btn-toolbar">
			                  <div class="am-btn-group am-btn-group-xs">

			                     <a href="{{ path('user_auth_path',{ id : user.id }) }}">
					                 <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
					             </a>  
                       
			                  </div>
			                </div>
			              </td>
	                    </tr>
                    {% endfor %}
		    
	          </table>
         
      </div>

    </div>

{% endblock %}